#hoteltitle{
    margin-left: 5%;
    margin-bottom: 2%;
}
.main-wrapper {
    height: 70vh;
  }
  .map-details {
    text-align: center;
    font-size: 1.2em;
  }
  .map-details span {
    font-weight: bold;
  }
  .search-input {
    font-size: 1.2em;
    width: 80%;
  }